#pqdiv
{
        background:     white;
        border:         1px solid black;
        height:         200px;
        margin-top:     2px;
        padding:        3px;
        position:       relative;
        width:          180px;
}

#quiz_wrap .jobListing

{
        padding-bottom: 5px;
}

#quiz_wrap .jobListing > *

{
        padding-top:    2px;
}

#quiz_wrap .buttons
{
        display:none;
}






#quiz_wrap div#quiz_overlay {
	background-color: #333;
        height: 100%;
	left: 0;
        opacity: .5;
	position:absolute;
	top: 0;
	width: 100%;
	z-index: 90;
}

#quiz_wrap div#quiz_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100;
}

#quiz_wrap div#quiz_loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_progress.png) no-repeat;
}

#quiz_wrap div#quiz_close {
background:transparent url(http://localhost:8080/static/stylesheets/img/quiz_closebox.png) repeat scroll 0 0;
cursor:pointer;
height:27px;
position:absolute;
right:-12px;
top:-12px;
width:28px;
z-index:100;
}

#quiz_wrap div#quiz_content {
        background:#EDF2F8 none repeat scroll 0 0;
}


/* Quiz Content Styles */

#quiz_wrap .intro_content{
height:242px;
width:360px; 
}

#quiz_wrap .instructions_content{
height: 340px;
}

#quiz_wrap .instructions2_content{
height: 340px;
width:369px;
}

#quiz_wrap .begin_quiz_content{
height:365px;
}

#quiz_wrap .quiz_item_content{
height: 335px;
width:515px;
}

#quiz_wrap .quiz_complete_quiz_inner{
width: 395px;
}


#quiz_wrap .instructions_answers{
margin:0 0 0 25px;
}

#quiz_wrap .intro_answers{
height:0;
margin:20px -10px 50px;
}

#quiz_wrap .begin_quiz_answers{
margin: -10px 0 0 -10px;
}

#quiz_wrap .quiz_complete_answers{
height:302px;
}

#quiz_frame {
        position: relative;
        width: 100%;
        height: 100%;
        display: none;
}

img#quiz_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border:0; 
        padding: 0; 
        margin: 0;
        z-index: 92;
}

#quiz_wrap div#quiz_title {
        position: absolute;
        top:341px;
        left: 0;
        width: auto;
        z-index: 100;
        display: none;
        float:left;
        /*	margin-left:7px;  */

}

#quiz_wrap .answer{
font-variant: normal;
letter-spacing': .01em;
}

#quiz_wrap .answer:hover {
color: #DDDDDD;
font-variant: small-caps;
letter-spacing': .00em;
}

#quiz_wrap .not_answer div:hover {
        color: #DDDDDD;
}

#quiz_wrap .answer:focus{outline:0;} 


#quiz_wrap
{
        display:        none;
 font-family: Georgia, "Times New Roman", Times, serif; 
/* font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;   --mstcorefonts not required */
font-size:100%;
}

#quiz_wrap div#quiz_content table {
        font-variant: inherit;
}


#quiz_wrap div#quiz_answers{
/* background:#EDF2F8 none repeat scroll 0 0; */
}





#quiz_wrap div#confirm{
margin: -10px 0 0 65px;
}

#confirm div.answertext {
font-size:1.3em !important;
width:170px;
}

#quiz_wrap .long{
width:80px;
}


#quiz_wrap .answertext{
        
        font-family:Arial;
        font-size:0.9em !important;
        font-stretch:normal;
        font-style:normal;
        font-variant:inherit !important;
        font-weight:bold;
        line-height:1.2em !important;
        padding-bottom:2px;
        text-align:center;
        
}

#quiz_wrap .timer_wrapper{
        background:#EEEAF8 none repeat scroll 0 0 !important;
        display:        none;
        height:10px;
        margin:-10px 0 10px;
        padding: 4px;
        -moz-border-bottom-colors:  #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-top-colors:     #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-left-colors:    #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-right-colors:   #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
}

#quiz_wrap .timer_inner
{
        background-color:	#8a41c6 !important;
        height:	100%;
        position:	relative;
        width:	100%;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
}

#quiz_wrap div#quiz_content div#skiptext {
        font-size:12px;
        margin-top:15px;
}

#quiz_wrap div#quiz_content div#startquiz {
        font-size:1.7em;
        margin-left:10px;
        margin-top:0;
        width:160px;
}

td#quiz_purple_left {
        height: 50px;
        width: 12px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_purple_left.png) repeat-x !important;
}

td#quiz_purple_main {
        width:80px;
        height: 52px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_purple_main.png) repeat-x !important;
        padding-left:20px !important;
        padding-right:20px !important;
        background-position: 0px 2px !important;
}

td#quiz_purple_right {
        height: 50px;
        width: 13px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_purple_right.png) no-repeat scroll -2px 0px !important;
}



td#quiz_blue_left {
        height: 50px;
        width: 12px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_blue_left.png) repeat-x !important;
}

td#quiz_blue_main {
        min-width:80px !important;
        height: 52px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_blue_main.png) repeat-x !important;
        padding-left:20px !important;
        padding-right:20px !important;
        background-position: 0px 2px !important;
}

td#quiz_blue_right {
        height: 50px;
        width: 13px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_blue_right.png) no-repeat scroll -2px 0px !important;
}

td#quiz_pink_left {
        height: 50px;
        width: 12px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_pink_left.png) repeat-x !important;
}

td#quiz_pink_main {
        min-width:20px;
        height: 50px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_pink_main.png) repeat-x !important;
        padding-left:7px !important; 
        padding-right:5px !important;
        background-position: 0px 2px !important;
}

td#quiz_pink_right {
        height: 50px;
        width: 13px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_pink_right.png) no-repeat scroll -2px 0px !important;
}

#quiz_wrap .arrow{

}

#quiz_wrap div#quiz_outer {
background:transparent none repeat scroll 0 0 !important;
left:30%;
overflow:visible;
padding:18px 18px 58px;
position:absolute;
top:10%;
z-index:90;
}

#quiz_wrap div#quiz_inner {
        position: relative;
        border:8px solid #DDDDDD;
         background:#EDF2F8 none repeat scroll 0 0 !important;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;

}

#quiz_left, #quiz_right {
        position: absolute; 
        bottom: 10px; 
        height: 100%; 
        width: 35%; 
        cursor: pointer;
        background-image: url(http://localhost:8080/static/stylesheets/img/data:image/gif;base64,AAAA) !important;
        z-index: 100; 
}

#quiz_left {
        left: 0px; 
}

#quiz_right {
        right: 0px; 
}

#quiz_left:hover {
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_left.gif) no-repeat 0% 100% !important; 
}

#quiz_right:hover {
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_right.gif) no-repeat 100% 100% !important;
}

#quiz_bigIframe, #quiz_freeIframe {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
}

#quiz_wrap div#quiz_bg {
}

#quiz_wrap div.quiz_bg {
        position: absolute;
        display: block;
        z-index: 70;
}

#quiz_wrap div.quiz_bg_n {
        top: -18px;
        width: 100%;
        height: 18px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_shadow_n.png) repeat-x !important;
}

#quiz_wrap div.quiz_bg_ne {
        top: -18px;
        right: -13px;
        width: 13px;
        height: 18px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_shadow_ne.png) no-repeat !important;
}

#quiz_wrap div.quiz_bg_e {
        right: -13px;
        height: 100%;
        width: 13px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_shadow_e.png) repeat-y !important;
}

#quiz_wrap div.quiz_bg_se {
        bottom: -18px;
        right: -13px;
        width: 13px;
        height: 18px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_shadow_se.png) no-repeat !important;
}

#quiz_wrap div.quiz_bg_s {
        bottom: -18px;
        width: 100%;
        height: 18px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_shadow_s.png) repeat-x !important;
}

#quiz_wrap div.quiz_bg_sw {
        bottom: -18px;
        left: -13px;
        width: 13px;
        height: 18px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_shadow_sw.png) no-repeat !important;
}

#quiz_wrap div.quiz_bg_w {
        left: -13px;
        height: 100%;
        width: 13px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_shadow_w.png) repeat-y !important;
}

#quiz_wrap div.quiz_bg_nw {
        top: -18px;
        left: -13px;
        width: 13px;
        height: 18px;
        background: transparent url(http://localhost:8080/static/stylesheets/img/quiz_shadow_nw.png) no-repeat !important;
}

#quiz_wrap .answer{

        color:#FFFFFF;
        cursor:pointer;
        display:        none;
        float:left;
        /* margin-left:10px;
        margin-right:20px; 
        min-width:113px; */
        font-variant:normal;
}

#quiz_wrap .notanswer{

        color:#FFFFFF;
        cursor:pointer;
        float:left;
        /* margin-left:10px;
        margin-right:20px; 
        min-width:113px; */
        font-variant:normal;
        letter-spacing: .12em;
}

#skip{
        margin-left:10px;
        margin-top:-1px;
}

#continue{
        float:right;
        font-variant:normal;
        margin-bottom:13px;
        margin-right:20px;
        margin-top:0px;
}
#end_quiz{
        float:right;
        float:right;
        font-variant:normal;
        margin: 5px 28px 10px 0;
}

#quiz_wrap .answer div:hover{
        color: #DDDDDD;
}

#quiz_content a:hover{
        color: #DDDDDD;
}


/* =========== */
/* = Intro = */
/* =========== */


#quiz_intro{
        /* display: none; */
        margin:-4px 0 0 110px;
width:180px;
}

#quiz_instructions{
        display: none;
}


#quiz_wrap div#take_quiz{
        width: 90px; 
        font-size:20px;
}

#take_quiz{
        margin-left:77px;margin-top:-9px;margin-top:16px;
}

#quiz_wrap div#choose_quiz{
        font-size:13px;
        width:30px;
}

#choose_quiz{
        font-size:13px;
}

td#choose_quiz{
        width:33px;
}




/* Signup */

form.signup input, form.signup textarea {
    border: solid 1px #85b1de !important;
    background: #fff url('../img/base/forms/formbg.gif') repeat-x !important;
    background-position: top !important;
    width:130px;
}
form.signup input:focus, form.signup textarea:focus {
    background-image: none;
    background-color: #ffffff !important;
    border: solid 1px #bbbbbb !important;
}


form.signup li{
float:left;
margin:5px 10px;
}


form.signup fieldset{
border:3px solid #DDDDDD;
height:105px;
margin:10px;
overflow:hidden;
}

form.signup legend {
padding:2px 10px;
}

#quiz_wrap div.form_proceed{
background:#FFFFFF url(http://localhost:8080/static/stylesheets/img/utils/purple_next.png) no-repeat scroll 0 0 !important;
cursor:pointer;
float:right;
margin:-25px 20px;
 }




/* =========== */
/* = Frame = */
/* =========== */
#quiz_wrap div.quiz_frame_header
{
        background:#FFFFFF none repeat scroll 0 0 !important;
        border-color:#E0E0E0 !important;
        border-style:solid !important;
        border-width:3px 1px !important;
        margin-top:5px;
        height: 50px;
        overflow:hidden;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
}

#quiz_wrap div.tab
{
-webkit-border-top-right-radius: 18px;
-moz-border-radius-topright:18px;
background-color:#CDCDCD !important;
border-right:1px solid #CDCDCD;
bottom:1px;
font-variant:small-caps;
font-weight:bold;
height:40px;
line-height:2.2em;
padding-right:23px;
position:absolute;
right:0;
text-shadow:1px 1px 1px #FFFFFF;
width:130px;
z-index:100;
}


img.tab_left
{
        height:40px;
        left:-54px;
        position:absolute;
        top:0;
        width:54px;
}

body.frame_body
{
        background-attachment:scroll !important;
        background-color:#EDF2F8 !important;
        background-image:none !important;
        background-position:0 0 !important;
        background-repeat:repeat !important;
}

#quiz_wrap div.quiz_frame_logo
{
float:left;
}

/* custom adjustments for logos */

#quiz_wrap div#default{

margin: 11px 4px;

}
#quiz_wrap div#ocw
{
        margin:8px 0 0 5px;
}
#quiz_wrap div#wiki
{
        margin:2px 0 0 5px;
}

#quiz_wrap div#knol
{
        margin:2px 0 0 5px;
}
#quiz_wrap div#django
{
        margin:5px 0 0 5px;
}

#quiz_wrap div#pq
{
        margin:0px 0 0 52px;
}
#quiz_wrap div#pg
{
        margin:2px 0 0 5px;
}

#quiz_wrap div#oreilly
{
        margin:5px 0 0 5px;
}
#quiz_wrap div#wikia
{
        margin:2px 0 0 5px;
}
#quiz_wrap div#hfc
{
        margin:2px 0 0 5px;
}

#quiz_wrap div#freebase
{
        margin:2px 0 0 5px;
}
#quiz_wrap div.quiz_frame_source
{
        font-size:0.7em;
        height:50px;
        left:280px;
        position:absolute;
        margin-top:5px;
}



#quiz_wrap div.quiz_frame_content
{
        border:5px solid #DDDDDD;
        height:200px;
        margin-top:10px;
        padding:10px;
        background:#ffffff none repeat scroll 0 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}


#quiz_wrap div.quiz_frame_title
{
font-family:"Georgia","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Verdana,Helvetica,sans-serif;
font-size:1.1em;
height:89px;
margin:-70px 0 0 240px;
overflow:hidden;
position:absolute;
text-align:center;
top:40px;
width:250px;
}



/* =========== */
/* = Quiz Items = */
/* =========== */



#quiz_wrap .focus
{
        margin: 5px 0px;
        background:#FFF8E2 none repeat scroll 0 0 !important;
        /* border-bottom:2px solid #E3D922; */
        text-align:center;
}

#blank
{
        background:#FFFFD1 none repeat scroll 0 0 !important;
        display:block;
        width:100px !important;
        height:23px;
        border:1px solid #E2C922 !important;
        font-weight:bold;
       margin:auto !important;
        opacity:0.5;
        /*padding: 0 34px; */
        width:100px;
        text-align:center;
}



#quiz_wrap div.quiz_intro_title
{
        font-family: "Georgia", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
        font-size:1.3em;
        position: absolute; 

        text-align:center;

        top:110px;
        width:305px;
}

span#quiz_category
{
        color: black;
        font-weight: bold;
}

#quiz_wrap div.quiz_scroll_container{
width:400px;
top:100px;
left:66px;
	position: absolute;
	/* overflow: hidden; -used for jscrollpane */
	z-index: 1;
	height:190px;
    overflow-y:scroll;

}

#quiz_wrap div.quiz_frame_text  /* scrollable */
{
        font-family: "Georgia", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
        margin-top:20px;
        text-align:center;
        line-height:1.5em;
        overflow: visible; 
        height: auto; 
        width:355px;
}

#instructions_frame{
height:220px !important;
}

/* =========== */
/* = Intro = */
/* =========== */


#quiz_wrap b
{
        color:#400059;
        font-size:1.1em;
}

#quiz_wrap b:hover

{
        color: #000000;
}




#quiz_wrap div.quiz_intro_text
{
        font-family:"Georgia","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Verdana,Helvetica,sans-serif;
        line-height:1.5em;
        margin-left:25px;
        margin-top:10px;
        /* overflow:hidden; */
        text-align:center;
        width:300px;
        top:80px;
}

p.quiz_distributor
{
        font-size:1em;
        margin-bottom:0;
        width:90%;
}

p.quiz_header
{
        /* color:#6E0BC3; */
        font-size:1em;
        font-variant:small-caps;
        line-height:0.8em;
        margin-bottom:5px !important;
}

li.select_quiz 
{
        display: block;
}

#quiz_wrap div.quiz_selection
{
        float:left;
        /*
        height:110px;
        margin:2px 0 20px -25px;
        width:305px;
        */
        -moz-border-bottom-colors:  #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-top-colors:     #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-left-colors:    #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-right-colors:   #777 #888 #999 #aaa #bbb #ccc;
        border:10px solid #DDDDDD;
        padding:5px;
        background:#EEEAF8 none repeat scroll 0 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}

#quiz_wrap div#intro_quiz_selection {
margin:2px 0 20px -30px !important;
height:110px;
}

#quiz_wrap div#instructions_quiz_selection {
margin:2px 0 20px -30px !important;
height:110px;
}

#quiz_wrap div#instructions2_quiz_selection {
margin:2px 0 20px -25px !important; 
height:110px;
}

#quiz_wrap div#begin_quiz_quiz_selection{
height:210px;
margin:-20px 0 0 -32px !important;
overflow:hidden;
width:310px;
}

#quiz_wrap div#quiz_complete_quiz_selection{
height:265px;
margin:2px 0 20px -20px !important;
padding:5px;
width:355px;
}


#quiz_wrap div.quiz_image
{

        height:105px;
        margin-top:5px !important;
        overflow:hidden;
        width:100px;
        float:left;
}

#quiz_wrap div.quiz_description
{
        background:#523871 none repeat scroll 0 0; 
        /* background: url(http://localhost:8080/static/html/img/background.png) repeat-x scroll center top; */
        border:2px solid #CDCDCD;
        color:#EAF2F8;
        overflow:hidden;
        padding:5px;
        text-align:center;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}

#quiz_wrap div.hover_example
{
        margin-right:-2px !important;
        padding:5px;
        text-align:center;
        width:140px;
        margin-left:0px !important;
        height:120px; 
        width:140px;
        float:right;
}

#quiz_wrap div.second_example{
font-size:0.9em !important;
line-height:1.5em !important;
margin-left:160px !important;
}

#quiz_wrap div.first_example{
margin-top:10px !important;
}

#quiz_wrap div.quiz_description_title
{
        font-size:1.5em !important;
        font-variant:small-caps;
        font-weight:bold;
        line-height:1.2em;
        margin:4px 0 6px !important;
        text-shadow:2px 2px 2px #000000;
        width:103%;
}


#quiz_wrap div.quiz_tutorial_text
{
        font-size:1em;
        line-height:1.2em;
        margin-top:0px !important;
        padding:0 0 0 10px;
        width:90%;
}

#quiz_wrap div#example_1
{
        margin:10px 0 0 -5px !important;
        width:95%;
}

#quiz_wrap div#example_1 div{
margin-bottom: 13px;
}

#quiz_wrap div.quiz_description_text
{
        font-size:1.1em;
        line-height:1.2em;
        margin-top:7px !important;
        padding:0 0 0 10px;
        width:90%;
}

#quiz_wrap div#quiz_description_panel
{
        font-variant:small-caps;
}

#quiz_wrap div.begin_quiz
{
        font-size:0.9em !important;
        line-height:1.2em;
        margin-left:15px !important;
        margin-top:-7px !important;
        width:90%;
}
#quiz_wrap div#choose_profs
{
height:210px;
margin:-20px 0 10px -22px !important;
overflow:hidden;
}

#profs
{
background:transparent url(http://localhost:8080/static/html/img/background_250.png) repeat-x scroll center top !important;
height:300px;
margin-left:-12px !important;
margin-top:-12px !important;
width:311px;
}

form#proficiency_choices
{
        margin-left:10px !important;
        margin-top:25px !important;
}
form#proficiency_choices input
{
        float: left; 
        margin-left: 50px !important;
}

form#proficiency_choices span
{
        float:left;
        font-size:1.1em !important;
        margin-left:5px !important;
        margin-top:-3px !important;
}

form span:hover 
{
        color: #DDDDDD !important;
}

/* =========== */
/* = Score = */
/* =========== */


#quiz_wrap .score_result
{
        -moz-border-bottom-colors:#EDF2F8 #FFFFFF;
        -moz-border-left-colors:#DDDDDD;
        -moz-border-radius:12px;
        -webkit-border-radius:12px;
        -moz-border-right-colors:#DDDDDD;
        -moz-border-top-colors:#EDF2F8 #FFFFFF;
        background: url(http://localhost:8080/static/html/img/background_250.png) repeat-x scroll center top;
        border-color:#DDDDDD;
        border-style:solid;
        border-width:12px 8px;
        float:left;
        height:250px;
        margin:-5px 0 0 -4px;
        overflow:hidden;
        width:345px;
}

#score_report_title
{
        margin-left: 40px;
}

#quiz_wrap .aceometer
{
        float:left;
        margin-left:0;
        margin-top:5px;
}

#quiz_wrap div.quiz_icon
{
        float:right;
        overflow:hidden;
}
#quiz_wrap div.score_text
{
        font-size:1.3em;
        margin:50px 0 0 35px;
        width:240px;
}


#quiz_wrap .score_email
{
        float:left;
        margin:22px 0 10px 23px;
        width:155px;
}

#quiz_wrap .contact_prompt
{
        font-size:0.9em;
        font-style:italic;
        line-height:1.2em;
        margin:20px 0 -20px 8px;
        width:180px;
}

#quiz_wrap .add_confirm
{
        font-size:0.9em;
        font-style:italic;
        line-height:1.2em;
        margin:20px 0 -16px 7px;
        width:180px;
}

#quiz_wrap div.score_result table 
{
        font-variant: inherit;
}

#quiz_wrap div#end_quiz_panel
{
        background-attachment:scroll;
        background-color:#EDF2F8;
        background-image:none;
        background-position:0 0;
        background-repeat:repeat;
        height:236px;
        width:323px;
}

#quiz_wrap div#whitewrapper
{
        float:left;
        width:330px;
        background:white none repeat scroll 0 0;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        margin:15px 0 0 7px;
}








/* Global Resets */


#quiz_wrap html, #quiz_wrap body, #quiz_wrap div, #quiz_wrap span, #quiz_wrap applet, #quiz_wrap object, #quiz_wrap iframe, #quiz_wrap
h1, #quiz_wrap h2, #quiz_wrap h3, #quiz_wrap h4, #quiz_wrap h5, #quiz_wrap h6, #quiz_wrap p, #quiz_wrap blockquote, #quiz_wrap pre, #quiz_wrap
a, #quiz_wrap abbr, #quiz_wrap acronym, #quiz_wrap address, #quiz_wrap big, #quiz_wrap cite, #quiz_wrap code, #quiz_wrap
del, #quiz_wrap dfn, #quiz_wrap em, #quiz_wrap font, #quiz_wrap img, #quiz_wrap ins, #quiz_wrap kbd, #quiz_wrap q, #quiz_wrap s, #quiz_wrap samp, #quiz_wrap
small, #quiz_wrap strike, #quiz_wrap strong, #quiz_wrap sub, #quiz_wrap sup, #quiz_wrap tt, #quiz_wrap var, #quiz_wrap
b, #quiz_wrap u, #quiz_wrap i, #quiz_wrap center, #quiz_wrap
dl, #quiz_wrap dt, #quiz_wrap dd, #quiz_wrap ol, #quiz_wrap ul, #quiz_wrap li, #quiz_wrap
fieldset, #quiz_wrap form, #quiz_wrap label, #quiz_wrap legend, #quiz_wrap
table, #quiz_wrap caption, #quiz_wrap tbody, #quiz_wrap tfoot, #quiz_wrap thead, #quiz_wrap tr, #quiz_wrap th, #quiz_wrap td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0 ;
	font-size: 16px !important;
/*	vertical-align: baseline; */
	background: transparent;
	text-decoration:none;
	font-family:"Georgia","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Verdana,Helvetica,sans-serif;
	
}
a{
cursor:pointer;
color:#000040;
}






#quiz_wrap form input.button {
background-color: #EEE;
border-color:#CCC #999 #999 #CCC;
border-style: solid;
border-width: 1px;
font-size: 14px;
margin: 9px 0 0;
padding: 5px 8px;
-moz-border-radius:12px;

-webkit-border-radius: 12px;
}



/* Global Styles */


#quiz_wrap h1{
font-size:3em;
letter-spacing:0.12em;
}

#quiz_wrap div.headline{
font-size:2em;
letter-spacing:0.06em;
}


#quiz_wrap .selection_box
{
        -moz-border-bottom-colors:  #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-top-colors:     #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-left-colors:    #777 #888 #999 #aaa #bbb #ccc;
        -moz-border-right-colors:   #777 #888 #999 #aaa #bbb #ccc;
        border:10px solid #DDDDDD;
        background:#EEEAF8 none repeat scroll 0 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}





#quiz_wrap div.input_float{
float:left;
width:180px;
}

/* common */

#quiz_wrap .hidden{
display:none;
}
#quiz_wrap .panel_box{
border:1px solid #CCCCCC;
font-size:1.1em;
cursor:pointer;
}

#quiz_wrap .panel_box:hover{
background:#DDDDDD none repeat scroll 0 0;
color:#333333;
}

#quiz_wrap .panel_box a{
font-weight:bold;
}


#quiz_wrap .info_note
{
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background-color:#FFFEEB;
border:5px solid #F7CA75;
padding:10px;
}

#quiz_wrap .warning_note{
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background-color:#EBCFEB;
border:2px solid #FF7F81;
padding:10px;
}

#quiz_wrap .gray_box{
background:#FCFCFC url(/images/modules/header/header_bg.png) repeat-x scroll 0 100%;
border:5px solid #DDDDDD;
float:left;
margin:4px;
width:95px;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
}

#quiz_wrap .gray_square_box{
background:#FCFCFC url(/images/modules/header/header_bg.png) repeat-x scroll 0 100%;
border:5px solid #DDDDDD;
-moz-border-radius:8px;
-webkit-border-radius: 8px;
height:95px;
margin:4px;
width:95px;
float:left;
position:relative;
overflow:hidden;
}

#quiz_wrap .square_box{
height:95px;
margin:4px;
width:95px;
}

#quiz_wrap .gray_box_header{
float:left;
margin:-17px 0 0 200px;
position:relative;
}

span.checkbox{
margin-left:10px;
color:#EAF2F8;
}

span.checkbox:hover{
color:#DDDDDD;
}


#quiz_wrap div.frame_box{
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background:#FFFFFF none repeat scroll 0 0;
border:5px solid #DDDDDD;
padding:10px;
}

#quiz_wrap .purple_box{
-moz-border-bottom-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-left-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-radius:5px;
-webkit-border-radius: 5px;
-moz-border-right-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
-moz-border-top-colors:#777777 #888888 #999999 #AAAAAA #BBBBBB #CCCCCC;
background:transparent url(/static/html/img/background_250.png) repeat scroll center top;
border:10px solid #DDDDDD;
color:#EAF2F8;
}


/* forms */

#quiz_wrap .form_proceed,#quiz_wrap  .form_cancel{
cursor:pointer;
}
